body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    h1{
        font-size: 15vw;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Color_icon_red.png/800px-Color_icon_red.png);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
